{% extends 'layout.html' %}
{% block body %}
{% load static %}
    <section class='cart-section'>
        <div class='container'>
            <div class='row'>
                <div class='col-lg-4'>
                    {% if product.image %}
                    <img src='{{product.image.url}}' class='product-image' style='width:300px;padding:20px;'>
                    {% else %}
                    <img class='img-fluid' src="{%static 'images/minnie.jpg'%} " class='product-image'>
                    {% endif %}
                </div>
                <div class='col-lg-8'>
                    <h2><strong>{{product.name}}</strong></h2>
                    <br>
                    <h4>{{product.category}}</h4>
                    <br>
                    <h5>NGN {{product.price}}</h5>
                    <br>
                    <p>{{product.description}}</p>
                    <br>
                    
                        
                    
                    <span>
                        <a  class='btn btn-outline-dark update-cart' data-product={{product.id}} data-action="add">
                            Add to Cart
                        </a>
                    </span>
                </div>
                </div>
            </div>
        </div>
    </section>

    <section class='products-section' >
        <div class='container'>
            <div class='row justify-content-center'>
                <div class='col-lg-7'>
                    <div class='section-title'>
                        <center><h5>Related Products</h5></center>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class='owl-carousel' id='product-carousel'>
                    {% for product_ in products %}
                        {% if product_ != product %}
                            <div class='col-lg-12 d-flex justify-content-center'>
                                <div class='products-item '>
                                    <div class='product-image'>
                                        {% if product_.image %}
                                        <img class='img-fluid' src="{{product_.image.url}}" style='height:250px; width: 300px'>
                                        {% else %}
                                        <img class='img-fluid' src="{%static 'images/minnie.jpg'%} " class='product-image'>
                                        {% endif %}
                                        
                                        <div class='overlay d-flex'>
                                            
                                            <a  class='btn mybtn1 update-cart' style='color: #d70d25' data-product={{product.id}} data-action="add">Add to Cart</a>
                                            
                                        </div>
                                    </div>
                                    
                                    <div class='product-content'>
                                        <div class='product-price'>
                                            <span class='new-price'>NGN {{product_.price}}</span>
                                            
                                        </div>
                                        <a href='{{product_.get_absolute_url}}'><h5 class='product-name'>{{product_.name}}</h5></a>
                                        <h6 class='product-category'>{{product_.category}}</h6>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                   
                </div>
            </div>

        </div>
    </section>


{% endblock %}