{% extends 'layout.html'%}

{% block body %}
{% load static %}
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;600&display=swap" rel="stylesheet">
<script src="{% static 'js/app.js' %}"></script>
<link rel='stylesheet' href="{%static 'css/main.css'%}">


    <!-- ACCOUNT PAGE -->

    <section class="registration-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 image-disappear">
                    <img src="{%static 'images/cakedelivery.png'%}" style='width:550px;'>
                </div>
                <div class="col-lg-6">
                    <div class="form-container login">
                        
                        <form id="" action="{% url 'login' %}" method='POST'>
                            {% if form.errors %}
                                
                                <small class='invalid-feedback d-block' style='font-size: smaller;'>Wrong Username or password</small>
                            {% else %}
                                <h3 class='text-muted' style='font-family:sans-serif; font-weight: 600;'>LOGIN</h3>
                            {% endif %}
                                <div class='input-group '>
                                    <div class='input-group-prepend pass h'>
                                        <div class='input-group-text'>
                                            <i class='fas fa-user'></i>
                                        </div>
                                    </div>
                                    {{ form.username}}
                                </div>
                                
                                <div class='input-group '>
                                    <div class='input-group-prepend pass h'>
                                        <div class='input-group-text'>
                                            <i class='fas fa-eye' onclick='seePassWord()'></i>
                                        </div>
                                    </div>
                                    {{ form.password}}
                                </div>
                                {% csrf_token %}
                                
                                <br>
                                <input type='hidden' name='next' value="{{ next }}" />
                                <button type="submit" class="btn btn-success btn-block reg-btn" style='font-size:large'>LOGIN</button>
                                <div>
                                    <a href="#">Forgot Password</a>
                                </div>
                        
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        function seePassWord(){
            var password_ = document.getElementById('id_password');
            console.log(password_.type)
            if (password_.type === 'password'){
                console.log('yes')
                password_.type = 'text';
            }else{
                password_.type = 'password';
            }
        }
    </script>

{% endblock %}